body {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  background-color: black;
}

p {
  color: #fff;
}

a {
  color: #fff;
}
 h2{
  color: #fff;
  text-align: left;
}
/* navbar */
.wrapper-navbar {
  position: absolute;
  margin-left: 10%;
}

.nav-item {
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  padding-left: 5%;
}

.nav-icon {
  font-size: 2rem;
  padding-left: 5%;
}

/* logo */


.logo-image {
  width: 100%;
}

/* music */
.wrapper-music{
  padding: 10% 0 10% 0;
  text-align: center;
  color: #fff;

}

.iframe{
  padding: 6% 0 6% 0;
}



/* video */
.wrapper-video {
  margin-top: 2%;
  padding: 6% 5% 5% 5%;
  background: rgba(0, 0, 0, 0.5);

}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* bio */
.wrapper-bio {
  padding: 5% 5%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);

}


.text-block-bio {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  bottom: 16%;
  right: 8%;
  left: 52%;
  color: white;
  padding: 3% 2% 2% 2%;

}

.text-bio {
  font-size: 1.3rem;
  text-align: center;
  font-weight: 200;
}

/* news */
#News {
  padding: 10% 0 6% 0;
  color: #fff;

}
.text-block{
  position: absolute;
  bottom: 1%;
  right: 1%;
  left: 2%;
  color: white;
  padding: 3% 3% 3% 2%;
}

.news-column {
  padding: 3% 2%;
}


/* footer */
#footer {
  background-color: #244463;
  background: rgba(0, 0, 0, 0.5);

  color: #fff;
  text-align: center;
  padding: 4% 30%;
}

.footer-icon {
  padding: 2% 2%;
  font-size: 2rem;
}


@media (max-width: 1000px) {
  .wrapper-bio {
    padding: 0.5%;


  }
  .text-block-bio{
    bottom: 1%;
    right: 1%;
    left: 1%;
    padding: 0.5%;
    }
    .text-bio{
      font-size: 1rem;
    }

    
    .wrapper-navbar{
      position: static;
      margin-left: 0

    }
    .nav-item {
      font-size: 2rem;
      font-weight: 500;
      color: #fff;
      padding-left: 0;
    }

    .nav-icon {
      font-size: 3rem;

    }


/* contact */
/* @import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  margin: 0;
  padding: 0;
}


.image-contact{
  width: 100%;
  padding-right: 5%;
}



.column{
  float: left;
  width: 50%;
}

.wrapper-contact{
  background: white;
 box-sizing: border-box;
  padding: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
}

h1{
  text-align: center;
  letter-spacing: 1px;
  font-size: 45px;
  margin-bottom: 20px;
  color: #486255;
}

.input,
.msg .area{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.login .input{
  width: 48%;
  float: left;
  margin-right: 4%;
}

.login .input:last-child{
  margin-right: 0;
}

.msg .area{
  height: 200px;
}

.btn{
  width: 250px;
  background: #486255;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.input:focus,
.msg .area:focus{
  border: 2px solid #486255;
}

::-webkit-input-placeholder{
  font-family: 'roboto';
} */
